@font-face {
    font-family: Jost;
    src: url(jost/Jost-SemiItalic.woff2) format('woff2'), url(jost/Jost-SemiItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Semi.woff2) format('woff2'), url(jost/Jost-Semi.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Book.woff2) format('woff2'), url(jost/Jost-Book.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-LightItalic.woff2) format('woff2'), url(jost/Jost-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-MediumItalic.woff2) format('woff2'), url(jost/Jost-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-BoldItalic.woff2) format('woff2'), url(jost/Jost-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Bold.woff2) format('woff2'), url(jost/Jost-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-BookItalic.woff2) format('woff2'), url(jost/Jost-BookItalic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Light.woff2) format('woff2'), url(jost/Jost-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Jost;
    src: url(jost/Jost-Medium.woff2) format('woff2'), url(jost/Jost-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}