           <div style="margin-top:-10%"><div class="wrapper image-wrapper light-wrapper bg-auto no-overlay bg-image text-center" data-image-src="/assets/images/important/map.webp">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                             <h3 class="display-3">Want an example audit?</h3>

     <p class="lead larger" style="padding-left:15%;padding-right:15%">
                            Let us know, and we'll share the Notion report</p>
                            <div class="space20"></div>

                            
                             <div style="padding-left:28%;padding-right:25%"><div id="hubspot-form"></div></div>

                  
                        </div>
                    </div>
                </div>
            </div></div>


<!-- Placeholder for the form -->
<div id="hubspot-form"></div>

<!-- Lazy Load Script -->
<script>
  // Function to load the HubSpot script
  function loadHubSpotForm() {
    var hsScript = document.createElement('script');
    hsScript.charset = 'utf-8';
    hsScript.type = 'text/javascript';
    hsScript.src = '//js.hsforms.net/forms/embed/v2.js';
    document.body.appendChild(hsScript);

    hsScript.onload = function() {
      hbspt.forms.create({
        region: "na1",
        portalId: "24298198",
        formId: "e8d11077-6bf3-4a78-a959-2152b36df865",
        target: "#hubspot-form"
      });
    };
  }

  // Event listener for scroll
  window.addEventListener('scroll', function() {
    var formPosition = document.getElementById('hubspot-form').getBoundingClientRect().top;
    var screenPosition = window.innerHeight;

    // Check if the form is in view
    if (formPosition < screenPosition) {
      // Load the form script if it's not already loaded
      if (!window.hbspt) {
        loadHubSpotForm();
        // Remove the event listener after loading the script
        window.removeEventListener('scroll', arguments.callee);
      }
    }
  });
</script>
