           <div style="margin-top:-10%"><div class="wrapper image-wrapper light-wrapper bg-auto no-overlay bg-image text-center" data-image-src="/assets/images/important/map.webp">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                             <h3 class="display-3">Subscribe for more ML content</h3>

     <p class="lead larger" style="padding-left:15%;padding-right:15%">
                            We send occasional email newsletters with informative content about how to solve problems with machine learning, product updates, and more. Subscribe to get updates sent directly to your inbox.</p>
                            <div class="space20"></div>

                            
                             <div style="padding-left:28%;padding-right:25%"> <button data-tf-popup="WRFhNxwm" data-tf-iframe-props="title=Newsletter Signup" data-tf-medium="snippet"
        data-tf-size="70">
        Sign me up
    </button>
    <script src="//embed.typeform.com/next/embed.js"></script></div></div>

                  
                        </div>
                    </div>
                </div>
            </div></div>


