 <div><div class="wrapper image-wrapper light-wrapper bg-auto no-overlay bg-image text-center" data-image-src="/assets/images/important/map.webp">
                <div class="container inner">
                    <div class="row">
                        <div class="col-md-9 mx-auto">
                             <h3 class="display-3">Subscribe for more ML content</h3>

     <p class="lead" style="padding-left:15%;padding-right:15%">
                            You'll get periodic newsletters around machine learning, classification, and how anyone can build their own AI/ML models in just minutes.</p>
 <div class="space20"></div>
<ul class="navbar-nav flex-row align-items-center justify-content-center" data-sm-skip="true" style="justify-content: center; width: 100%;">
    <li class="nav-item">
      <div class="navbar-hamburger d-lg-none d-xl-none ml-auto">
        <button data-tf-popup="WRFhNxwm" data-tf-iframe-props="title=Newsletter Signup" data-tf-medium="snippet"
        data-tf-size="70"></button>
      </div>
    </li>
    <li class="nav-item d-none d-lg-block pl-0" style="padding-right:2%">
      <a href="/contact/" class="btn m-0" style="background-color:#e7a83d;">Sign-up</a>
    </li>
    
    
</ul>
                  
                  
                        </div>
                    </div>
                </div>
            </div>

  <script src="//embed.typeform.com/next/embed.js"></script></div></div></div></div></div> -->