---
layout: default
permalink: "/contact/"
description: Contact Nyckel to learn more.
fill: fill-light-wrapper
title: Contact Nyckel
hubspot: yes
nav:
page_header:
  enable: true
  title: Want to chat?
  sub_title: We'd love to chat further about how we can help.
  button_text: 
  button_url: "#"
  background_image: "/assets/images/important/home-bg.webp"

contact_area:
  enable: true
  title:
  sub_title:
  action_email: "feedback@nyckel.com"
  
  lists:
    - title: Dashboard review
      info_01: We'll show you how to get started
      icon: "icofont-check"

    - title: API integration
      info_01: Get a look at how the API works
      icon: "icofont-check"

    - title: Pricing overview
      info_01: Learn how costs scale with volume
      icon: "icofont-check"
   

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "Required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name" 
      error_message: "Required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Required"

    - field_type: "input"
      field_name: "company"
      placeholder: "Company"
      error_message: "Required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "What brings you to Nyckel?"
      error_message: "Required"

---

<div class="wrapper gray-wrapper">
  <div class="container inner">

      <div class="space20"></div>
    <h1 class="display-2 text-center" style="color:#0b2436;margin-top:-7%">Want to chat?
</h1>
    <p class="display-5 text-center" style="color:#0b2436">We'd love to chat further about how we can help.</p>
</div></div>




{% if page.contact_area.enable %}
<div class="wrapper light-wrapper" style="margin-top: -70px;padding-left:3%;padding-right:3%">
    <div class="container inner" style="padding-left:5%;">
        {% if page.contact_area.title %}
          
         <h2 class="section-title">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
         <p class="lead larger">{{page.contact_area.sub_title}}</p>
        {% endif %}
        <div class="space10"></div>
        <div class="row">
          <div class="col-lg-7">
                      <!-- <h2 class="section-title" style="text-align: center;">Get the mini-report for free</h2>
                       <div class="space10"></div>-->

            <!-- HubSpot Form will be inserted here -->
            <div style="padding-left:10%"><div id="hubspot-form"></div></div>
            
          </div>
          <!--/column -->
          <div class="space30 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-4 offset-lg-1" style="padding-top:2%;margin-left:30px;">
            {% for lists in page.contact_area.lists %}
            <div class="d-flex flex-row">
              <div>
                <div class="icon fs-34 mr-25" style="color: #306fa2;"> <i class="{{lists.icon}}"></i> </div>
              </div>
              <div>
                <h3 class="mb-5">{{lists.title}}</h3>
                <address>{{lists.info_01}} 
                  {% if lists.info_02 %}
                  <br class="d-none d-md-block" />
                  {{lists.info_02}}
                 {% endif %}
                </address>
              </div>
            </div>
              {% endfor %}
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
    </div>
</div>
  {% endif %}


<!-- Load the HubSpot Forms Embed Code -->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "24298198",
    formId: "0627bc0b-ebdf-4c0e-85e5-931bd009ac6f",
    target: "#hubspot-form"
  });
</script>
<!--end HS code -->