---
layout: default
title: Nyckel | Nyckel Product Deep Dive
description: A deep dive into Nyckel's product and how it works.
canonical: true
permalink: "/how-nyckel-works"
fill: fill-light-wrapper
nav: dark
cta: image or text classifier
stories: Classification
type: image or image
value1: "For 90% of classification use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on one powerful AI use case: image and text classification. Our vision is to make it as easy as possible to auto-label custom content at scale."
header1: "Explore in depth"
header2: "how Nyckel works"
header3: "Nyckel aims to abstract machine learning complexity by doing the heavy lifting for you."
image1: /assets/images/important/image-classification2.webp
alt1: image classification example
ctacontact: yes
ctatry: yes

---

{% include /hero.html %}
{% include /logos.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-25px;padding-bottom:5%">
        <div class="two-column-one">
            <div class="space125"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/blog/images/automl-features-graphic-new.webp" alt="nyckel automl"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15">
                    <h3 class="display-3">Auto-ML for<span style="color: #306fa2;"> easy creation of your own classification models</span></h3>
                    <p class="display-5" style="margin-top:-5px">We train 500x faster than competition - usually in just 5-30s, and require as little as 5-10 samples per label.</p>
                </div>
            </div>
        </div>


<div id="main" role="main" class="readingpane" style="margin-top:-80px">
<article class="post">
      <div class="entry">

{% include quote.html text="Because of the way Nyckel does things, the model trains immediately. This was rather shocking and awesome!" author="Sunil Rawal" title="AI Lead, Gardyn" mugshot="/assets/images/important/quote-gardyn.webp" %}

 </div>
</article>
</div>

        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
               <h3 class="display-3"><span style="color: #306fa2;">Pre-trained functions</span> to get going fast, and then you can <span style="color: #306fa2;">iterate on that model</span> yourself.</h3>
                        <!--<div class="space20"></div>
                    <p class="display-5">Use text classification to auto-categorize text into whatever labels you need.</p>-->
            </div>
            <div class="col-lg-6">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/pretrained.webp" alt="pretrained functions"/>
                </figure>          
            </div>
        </div>



<div id="main" role="main" class="readingpane" style="margin-top:-80px">
<article class="post">
      <div class="entry">
{% include quote.html text="Training this model took less than two minutes and you can really trust it." author="Vladislav Yavorskyi" title="Moderation Manager, Taimi" mugshot="/assets/images/important/quote-vlad.webp" %}
</div>
</article>
</div>



        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure>
                    <img class="img shadow" loading="lazy" src="/blog/images/end-to-end-automl-header_v2.webp" alt="nyckel data engine"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Get an entire ML data engine<span style="color: #306fa2;"> in just seconds</span></h3>
                <div class="space20"></div>
                <p class="display-5">
                   Whether it's through our UI or API, you can do data annotation, inspection, invoking, and mining.
                </p>
                <div class="space10"></div>
            </div>
        </div>

<div id="main" role="main" class="readingpane" style="margin-top:-80px">
<article class="post">
      <div class="entry">
{% include quote.html text="Normally you have a problem and then you go for a solution. What I’ve now got is a really nice solution, and we’re actually looking for other problems we can apply it to!" author="Gwyn Morfey" title="Spyscape Tech Lead" mugshot="/assets/images/important/quote-gwen.webp" %}
</div>
</article>
</div>

        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:3%">
               <h3 class="display-3"><span style="color: #306fa2;">Personalized functions</span> to create as many classification models as you want</h3>
                    <p class="display-5" style="margin-top:-5px">Models exist independently, allowing you to spin multiple and entirely separate functions.</p>
            </div>
            <div class="col-lg-6" style="margin-right:-5px">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/blog/images/data-engine-workflow.webp" alt="auto ml personalized functions"/>
                </figure>          
            </div>
        </div>
                <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Explore our API<span style="color: #306fa2;"> with our quickstart guides</span></h3>
                <p class="display-5" style="margin-top:-5px">
                   Train your function through the UI, then call it through the API. Or do everything through the API.
                </p>
                 <a href="https://www.nyckel.com/docs" class="btn" style="background-color:#e7a83d;">Explore the docs</a>
                <div class="space10"></div>
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}