---
layout: default
title: Nyckel | Classify Images and Text In Just Minutes Using AI
description: Nyckel's classification API makes it simple to auto-label images and text using AI. We're the only AL/ML vendor focused specfically on classification use cases
permalink: "/"
cta: classification model
stories: Classification
type: custom
value1: "For 90% of classification use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on one powerful AI use case: image and text classification. Our vision is to make it as easy as possible to auto-label content at scale."
header1: "Easily classify"
header2: "images and text"
header3: "Nyckel's classification API makes it simple to auto-label anything in just minutes."
image1: /assets/images/important/content-moderation1.webp
alt1: nyckel classification example

---

{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="content-wrapper">
  <div class="wrapper white-wrapper">
    <div class="container side-padded" style="padding-top:3%;padding-bottom:3%">
      <h2 class="display-3 text-center">
        <div class="spacemobile"></div>
        Use AI to auto-label images and text <span class="underlined-text">in just minutes</span>
      </h2>
      <div class="space40"></div>
      <div class="row align-items-center">
        <div class="col-lg-6 pl-60 pl-sm-15 d-none d-lg-block" style="padding-right:1%;padding-left:6%">
          <figure>
            <img class="img shadow" loading="lazy" src="assets/images/important/image-classification4.webp" alt="nyckel use cases" >
          </figure>
        </div>
        <div class="col-lg-6" style="padding-left:5%;padding-top:2%;">                          
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Binary</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Given two options, which one is it?</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Single-Label</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Given many options, which one is it?</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Multi-Label</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Of a list of options, how many fit?</address>
            </div>
          </div>                          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-60px;padding-bottom:5%">
        <div class="two-column-one">
            <div class="space125"></div>
                     <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%" >
               <h3 class="display-3"><span style="color: #306fa2;">Classify text</span> for easy identification of spam, sentiment, and context.</h3>
               <p class="display-5" style="margin-top:-3px">Great for bespoke use cases that pretrained models don't work for.</p>
            </div>
            <div class="col-lg-6" style="padding-right:6%">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/text-classification2.webp" alt="image example 2"/>
                </figure>          
            </div>
        </div>
               <div class="space100"></div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification2.webp" alt="image classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:6%">
                    <h3 class="display-3"><span style="color: #306fa2;">Classify images</span> using <span class="underlined-text">your</span> rules and <span class="underlined-text">your</span> data</h3>
                     <p class="display-5" style="margin-top:-3px">Rather than use imperfect static models, you can train and iterate your own.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
         <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Connect it to your workflow<span style="color: #306fa2;"> using our Classification API</span></h3>
                    <p class="display-5" style="margin-top:-3px">Ping us with the image or text, and we'll respond with the label and confidence level.</p>
            </div>
            <div class="col-lg-6">                          
                <figure>
                   <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>          
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}
