---
layout: default
title: "Nyckel's Pretrained Classifiers | Classify Anything In Just Seconds"
description: "classification image and text"
subtitle: "Machine learning tools that make it easy to classify text and images"
header_image: "/assets/images/important/home-bg.webp"
bg: "/assets/images/important/home-bg.webp"
permalink: "/pretrained-classifiers/"
image: /assets/images/important/nyckel-cover.webp
cta2: none

---

<div class="content-wrapper">
    <div class="wrapper white-wrapper">
        <div class="container inner side-padded">
            <h1 class="display-2 text-center blue mtn8">Nyckel's Pretrained Classifiers</h1>
            <p class="display-5 text-center blue">Explore premade models you can start using in just minutes</p>
            <div class="posts">
                <div class="row" style="margin-top:-75px">
                    {% assign all_functions = site.functions | sort: 'number' %}
                    {% for function in all_functions %}
                        {% if function.live %}
                            {% assign function = function %}
                            {% include summary-card-function.html %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
