---
layout: default
permalink: "/questions/"
description: We just need the answers to these questions to get going!
fill: fill-light-wrapper
title: Discoverable Snapshot Report company questions
cta: none
nav: light
page_header:
  enable: true
  title: Thanks for purchasing the Snapshot report!
  sub_title: We just need the following information to get started.
  button_text: 
  button_url: "#"
  background_image: "/assets/images/important/home-bg.webp"

contact_area:
  enable: true
  title:
  sub_title:
  action_email: "chris@discoverablemarketing.com"
  
  lists:
    - title: 100% refund guarantee
      info_01: Don't like it? Don't pay
      icon: "icofont-check"

    - title: Quick delivery
      info_01: You'll get the report in less than a week.
      icon: "icofont-check"

    - title: Have questions?
      info_01: Reach out to contact@discoverablemarketing.com
      icon: "icofont-check"
   

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "Required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name" 
      error_message: "Required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Required"

    - field_type: "input"
      field_name: "company"
      placeholder: "Company"
      error_message: "Required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "What would you like to achieve with Discoverable?"
      error_message: "Required"

---

{% if page.page_header.enable %}
{% assign page_d = page.page_header %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
    data-image-src="{{page_d.background_image}}">
    <div class="container inner text-center">
        
        <div class="space90"></div>
        {% if page_d.title %}
        <h1 class="page-title">{{page_d.title}}</h1>
        {% endif %}
        {% if page_d.sub_title %}
        <p class="lead mb-30">{{page_d.sub_title}}</p>
        {% endif %}
        {% if page_d.button_text != null %}
        <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
        {% endif %}
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}


{% if page.contact_area.enable %}
<div class="wrapper light-wrapper" style="margin-top: -40px;padding-left:3%;padding-right:3%">
    <div class="container inner" style="padding-left:5%;">
        {% if page.contact_area.title %}
          
         <h2 class="section-title">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
         <p class="lead larger">{{page.contact_area.sub_title}}</p>
        {% endif %}
        <div class="space10"></div>
        <div class="row">
          <div class="col-lg-12">
                      <!-- <h2 class="section-title" style="text-align: center;">Get the mini-report for free</h2>
                       <div class="space10"></div>-->

            <!-- HubSpot Form will be inserted here -->
            <div style="padding-left:15%;padding-right:15%"><div id="hubspot-form"></div></div>
            
          </div>

        </div>
        <!--/.row -->
    </div>
</div>
  {% endif %}

<!-- Load the HubSpot Forms Embed Code -->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "24298198",
    formId: "4402cef9-dc51-4469-a892-f7557d698d6c",
    target: "#hubspot-form"
  });
</script></div>
<!--end HS code -->

