---
layout: default
permalink:
description: Discover what pricing plans Discoverable Marketing offers for its Discoverable Reports.
title: Discoverable Marketing's Pricing Plans
fill: fill-light-wrapper
cta: none
nav: light
page_header:
  enable: true
  title: "Pricing & FAQ"
  sub_title: "Different packages based on your needs"
  background_image: "/assets/images/important/home-bg.webp"  

---

{% if page.page_header.enable %}
{% assign page_d = page.page_header %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text"
    data-image-src="{{page_d.background_image}}">
    <div class="container inner text-center">
        
        <div class="space90"></div>
        {% if page_d.title %}
        <h1 class="page-title">{{page_d.title}}</h1>
        {% endif %}
        {% if page_d.sub_title %}
        <p class="lead mb-30">{{page_d.sub_title}}</p>
        {% endif %}
        {% if page_d.button_text != null %}
        <a href="{{page_d.button_url}}" class="btn btn-white btn-strong-hover">{{page_d.button_text}}</a>
        {% endif %}
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <!-- <h2 class="section-title mb-40 text-center">Pricing Table in Box</h2> -->
    <div class="pricing-wrapper">
      <div class="row no-gutters">


        <div class="col-md-4">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/ec-mobile.webp" alt="discoverable free mini report"/></div>
              <h4 class="panel-title mb-5">Free Mini-Report</h4><p>Get a sample of what comes in the Discoverable report</p>
              <div class="prices color-dark">
                 <div class="price price-show"><span class="price-currency">$</span><span class="price-value">0</span><span class="price-duration">one-time</span></div></div>
            </div>
 
            <div class="panel-body">
              <table class="table">     
                <tr>
                  <td></td>
                </tr>
                  <tr><td><strong>Your Internet Presence</strong></td></tr>
                 <tr>
                  <td>Software review sites</td>
                </tr>
                <tr>
                  <td>Business directories</td>
                </tr>
       <tr>
                  <td></td>
                </tr>
                     <tr>
                  <td></td>
                </tr>
<tr>
                  <td><strong>In-Market Term Research</strong></td>
                </tr>
<tr>
                  <td>"Top Vendors" listicles</td>
                </tr>
                 <tr>
                  <td>Quora Q&As</td>
                </tr>
 <tr>
                  <td>Backlink opportunities</td>
                </tr>                   
              </table>
            </div>
       
            <div class="panel-footer"> <a href="/contact-report/" class="btn" role="button">Get Free Report</a></div>
          </div>
      
        </div>
     
        <div class="col-md-4 popular">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/ec-store.webp" alt="discoverable snapshot report"/></div>
              <h4 class="panel-title mb-5">Snapshot Report</h4><p>Get insights into your internet presence and where people are using relevant keywords.</p>
              <div class="prices color-dark">
                 <div class="price price-show"><span class="price-currency">$</span><span class="price-value">1,499</span><span class="price-duration">one-time</span></div></div>
            </div>
 
            <div class="panel-body">
              <table class="table">    
              <tr>
                  <td></td>
                </tr> 
                 <tr>
                  <td><strong>100% </strong>refund guarantee</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                  <tr><td><strong>Your Internet Presence</strong></td></tr>
                <tr>
                  <td>Business directories</td>
                </tr>
                 <tr>
                  <td>Software review sites</td>
                </tr>
                <tr>
                  <td>Job boards</td>
                </tr>
                    <tr>
                  <td>Social networks</td>
                </tr>
       <tr>
                  <td></td>
                </tr>
                     <tr>
                  <td></td>
                </tr>
<tr>
                  <td><strong>In-Market Term Research</strong></td>
                </tr>
<tr>
                  <td>"Top Vendors" listicles</td>
                </tr>
                 <tr>
                  <td>Quora Q&As</td>
                </tr>
 <tr>
                  <td>Backlink opportunities</td>
                </tr> 
                <tr>
                  <td>Internal link opportunities</td>
                </tr>
                <tr>
                  <td>Top Google Results</td>
                </tr>
                <tr>
                  <td>Top Google Image Results</td>
                </tr>
                
      
              </table>
            </div>
       
           <div class="panel-footer"> <a href="https://app.hubspot.com/payments/rRqS_RyeRd-9b" class="btn" role="button">Purchase Report</a>
</div>
          </div>
      
        </div>
     

        <div class="col-md-4">
          <div class="pricing panel box bg-white shadow">
            <div class="panel-heading">
              <div class="icon icon-svg mb-10"><img src="{{relative_url}}/assets/images/icons/ec-online-shop.webp" alt="discoverable full report"></div>
              <h4 class="panel-title mb-5">Full Discoverable Report</h4><p>Learn how discoverable you are and how to improve your visibility.</p>
              <div class="prices color-dark">
                 <div class="price price-show"><span class="price-currency">$</span><span class="price-value">4,999</span><span class="price-duration">one-time</span></div></div>
            </div>

            <div class="panel-body">
              <table class="table">
                <tr>
                  <td><strong>Everything </strong>on Snapshot</td>
                </tr>
                <tr>
                  <td></td>
                </tr>
                 <tr>
                  <td></td>
                </tr>
                <tr>
                  <td><strong>Audits</strong></td>
                </tr>
                <tr>
                  <td>Technical SEO & Page Speeds</td>
                </tr>
                 <tr>
                  <td>LinkedIn & YouTube</td>
                </tr>
                      <tr>
                  <td>G2 & Capterra</td>
                </tr>
  <tr>
                  <td></td>
                </tr>

                                 <tr>
                  <td><strong>Discoverability action plan</strong></td>
                </tr>
                    <tr>
                  <td><strong>Positioning analysis</strong></td>
                </tr>      
                                               
              </table>
            </div>
       
            <div class="panel-footer"> <a href="https://app.hubspot.com/payments/WS8iUg34/" class="btn" role="button">Purchase Report</a></div>
          </div>
      
        </div>
     
        </div>
   
      </div>
  
    </div>

  </div>

</div>

<div class="wrapper light-wrapper" style="margin-bottom: -10%;margin-top: -5%;">
  <div class="container inner">
    <div class="row" style="margin-top: -4%;">
      <div class="col-md-10 offset-md-1 text-center col-lg-8 offset-lg-2">
            <blockquote class="larger">
              <p style="font-size: 25px;">"Not only was the report super helpful in understanding our market opportunities, but it was a seamless process. Only a few questions - and the turnaround was quick!"
              </p>
              <div class="blockquote-details justify-content-center">
                <div class="img-blob blob1"><img src="{{relative_url}}/assets/images/important/derek.webp" alt="discoverable customer quotation" /></div>
                <div class="info">
                  <h6 class="mb-0">Derek Osgood</h6>
                  <span class="meta mb-0">CEO, Ignition</span>
                </div>
              </div>
            </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="wrapper light-wrapper" style="margin-top:-140px;padding-left:5%;padding-right:5%">
    <div class="container inner pb-0">
        <h3 class="display-3 text-center">If you have another question, <a href="/contact/"><br class="d-none d-lg-block">please contact us!</a></h3>
        <div class="space60"></div>
        <div class="row">
            <div class="col-lg-6 mb-0">
                <div id="accordion-1" class="accordion-wrapper">
                    {% for faq in site.data.faq limit: "3" %}
                    <div class="card">
                        <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                            <h5>
                                <button class="collapsed" data-toggle="collapse"
                                    data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false"
                                    aria-controls="accordion-collapse-1-{{forloop.index}}">
                                    {{faq.question}}
                                </button>
                            </h5>
                        </div>
                        <div id="accordion-collapse-1-{{forloop.index}}" class="collapse"
                            aria-labelledby="accordion-heading-1-{{forloop.index}}"
                            data-target="#accordion-{{forloop.index}}">
                            <div class="card-body">
                                <p>{{faq.answer}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <div id="accordion-2" class="accordion-wrapper">
                    {% for faq in site.data.faq limit: "3" offset: "3" %}
                    <div class="card shadow">
                        <div class="card-header" id="accordion-heading-2-1">
                            <h5>
                                <button class="collapsed" data-toggle="collapse"
                                    data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false"
                                    aria-controls="accordion-collapse-2-{{forloop.index}}">
                                    {{faq.question}}
                                </button>
                            </h5>
                        </div>
                        <!-- /.card-header -->
                        <div id="accordion-collapse-2-{{forloop.index}}" class="collapse"
                            aria-labelledby="accordion-heading-2-{{forloop.index}}"
                            data-target="#accordion-{{forloop.index}}">
                            <div class="card-body">
                                <p>{{faq.answer}}</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.collapse -->
                    </div>
                    {% endfor %}
                </div>
                <!-- /.accordion-wrapper -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    

        <!--/.row -->

     </div></div>
          <div class="space90"></div>