<div class="wrapper white-wrapper" style="margin-top:-75px;margin-bottom:-75px;">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="section-title mb-40 text-center" >{{ page.faq.title }}</h2>
              <div class="space30"></div>
        <div id="accordion-1" class="accordion-wrapper simple" style="margin-top:-25px">
          <div class="card">
            <div class="card-header" id="accordion-heading-1-1">
              <h4>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-1" aria-expanded="false" aria-controls="accordion-collapse-1-1">{{ page.faq.question1 }}</button>
              </h4>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-1" class="collapse" aria-labelledby="accordion-heading-1-1" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{ page.faq.answer1 }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-2">
              <h4>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-2" aria-expanded="false" aria-controls="accordion-collapse-1-2">{{ page.faq.question2 }}</button>
              </h4>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-2" class="collapse" aria-labelledby="accordion-heading-1-2" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{ page.faq.answer2 }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-3">
              <h4>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-3" aria-expanded="false" aria-controls="accordion-collapse-1-3">{{ page.faq.question3 }}</button>
              </h4>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-3" class="collapse" aria-labelledby="accordion-heading-1-3" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{ page.faq.answer3 }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
           <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-4">
              <h4>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-4" aria-expanded="false" aria-controls="accordion-collapse-1-4">{{ page.faq.question4 }}</button>
              </h4>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-4" class="collapse" aria-labelledby="accordion-heading-1-4" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{ page.faq.answer4 }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
           <!-- /.card -->
          <div class="card">
            <div class="card-header" id="accordion-heading-1-5">
              <h4>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-5" aria-expanded="false" aria-controls="accordion-collapse-1-5">{{ page.faq.question5 }}</button>
              </h4>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-1-5" class="collapse" aria-labelledby="accordion-heading-1-5" data-parent="#accordion-1">
              <div class="card-body">
                <p>{{ page.faq.answer5 }}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>