<footer class="image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="/assets/images/important/home-bg.webp" loading="lazy"> 

  <div class="container inner pt-80 pb-50 text-center" style="">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">

{% assign external_links = site.data.general_settings.external_links %}
           <div class="col-md-3">
            {% assign external_links = site.data.general_settings.external_links %}
        <div class="widget">
          {% if external_links.title %}
           <div class="h5 widget-title" style="color: white;">{{external_links.title}}</div>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
          </div>
<div class="col-md-3">
            {% assign external_links_02 = site.data.general_settings.external_links_02 %}
        <div class="widget">
          {% if external_links_02.title %}
           <div class="h5 widget-title" style="color: white;">{{external_links_02.title}}</div>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links_02 in external_links_02.links %}
            <li><a href="{{links_02.url}}">{{links_02.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
          </div>
          <!-- /column -->

          <!-- /column -->

          <div class="col-md-3">
            {% assign external_links_04 = site.data.general_settings.external_links_04 %}
        <div class="widget">
          {% if external_links_04.title %}
           <div class="h5 widget-title" style="color: white;">{{external_links_04.title}}</div>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links_04 in external_links_04.links %}
            <li><a href="{{links_04.url}}">{{links_04.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
          </div>


          <div class="col-md-3">
            {% assign external_links_03 = site.data.general_settings.external_links_03 %}
        <div class="widget">
          {% if external_links_03.title %}
           <div class="h5 widget-title" style="color: white;">{{external_links_03.title}}</div>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links_03 in external_links_03.links %}
            <li><a href="{{links_03.url}}">{{links_03.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <div class="space30"></div>
    <p class="text-center">{{site.data.general_settings.copyright_text}} | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/terms-and-conditions/">T&Cs</a></p>
      <ul class="social social-mute social-s">
                {% for social_info in site.data.general_settings.social_accounts.links %}
               <li><a href="{{social_info.url}}" title="{{social_info.alt}}"><i class="{{social_info.icon}}"></i></a></li>
                {% endfor %}
              </ul>
  </div>
</footer>