<div class="content-wrapper mt-0">
    <div class="wrapper white-wrapper mtn3">
        <div class="container inner pl6 mb4">
            <div class="two-column-one mtn6">
                <div class="row align-items-center">
                    <div class="col-lg-5 mtn3">
                        <div class="space50"></div>
                        <h1 class="display-custom">
                            <div class="blue header-text">
                                {{ page.header1 }}
                                <span class="light-blue">{{ page.header2 }}</span>
                            </div>
                        </h1>
                        <h2 class="display-4 blue">{{ page.header3 }}</h2>
                        <div class="space20"></div>
                        {% include /cta-buttons.html %}
                    </div>
                    <div class="col-lg-7 pl-60 d-none d-lg-block pt2 mln2">
                        <figure>
                            <img class="hero-image" src="{{ page.image1 }}" alt="{{ page.alt1 }}"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {% include /divider.html %}
    </div>
</div>
