<div id="invoke-container" data-function-id="{{ page.functionid }}">
    <div class="upload-area" id="uploadfile">
        <div class="upload-instructions">
            <div class="upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"
                    fill="currentColor">
                    <path
                        d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z">
                    </path>
                </svg>
            </div>
            <div>Drag and drop or click to select</div>
            <div>JPG, PNG, BMP, and WEBP</div>
        </div>
    </div>

    <input type="file" name="file" id="file">

    <div id="thinking">
        <div id="spinner-container">
            <div class="spinner">&nbsp;</div>
        </div>
    </div>

    <div id="no-prediction">(choose an image to predict)</div>

    <div id="prediction">
        <div id="label-name">(choose an image to predict)</div>
        <div id="confidence">(confidence)</div>
    </div>

    <div id="error">
        <div id="message">(error message goes here)</div>
    </div>
</div>