<div id="invoke-container" data-function-id="{{ page.functionid }}">
    <div class="text-area" id="text-area">
        <textarea rows="6"></textarea>
    </div>

    <div id="thinking">
        <div id="spinner-container">
            <div class="spinner">&nbsp;</div>
        </div>
    </div>
<div class="space20"></div>
    <button class="btn" id="invoke-button">Submit</button>

    <div id="no-prediction"></div>

    <div id="prediction">
        <div id="label-name" style="color:#0b2436">(input text to predict)</div>
        <div id="confidence" style="margin-top:15px;color:#306fa2;">(confidence)</div>
    </div>

    <div id="error">
        <div id="message">(error message goes here)</div>
    </div>
</div>