 <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row clients text-center" style="margin-top:-6%;">
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/square.png" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/gardyn.png" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/gust.png" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="space30 d-md-block d-lg-none"></div>
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/helloprint.png" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/taimi.png" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
             <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/pulse4.png" alt="" /></figure>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </div>
