 <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row clients text-center" style="margin-top:-5%">
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-square.webp" alt="Square logo" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-gardyn.webp" alt="Gardyn Logo" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-gust.webp" alt="Gust logo" /></figure>
          </div>
          <!--/column -->
          <div class="space30 d-md-block d-lg-none"></div>
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-helloprint.webp" alt="Helloprint logo" /></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
            <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-taimi.webp" alt="taimi logo"/></figure>
          </div>
          <!--/column -->
          <div class="col-md-4 col-lg-2">
             <figure class="pl-15 pr-15"><img src="{{relative_url}}/assets/images/important/logos-pulse4.webp" alt="pulse logo"/></figure>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </div>
