<div class="newsletter-cta">
    <h2>Subscribe for more ML content</h2>
    <p>
        We send occasional email newsletters with informative content about how to solve problems with machine learning,
        product updates, and more. Subscribe to get updates sent directly to your inbox.
    </p>
    <button data-tf-popup="WRFhNxwm" data-tf-iframe-props="title=Newsletter Signup" data-tf-medium="snippet"
        data-tf-size="70">
        Sign me up
    </button>
    <script src="//embed.typeform.com/next/embed.js"></script>
</div>