<div class="wrapper light-wrapper">
  <div class="container inner text-center">
    <div style="margin-top:-50px;margin-bottom:-50px">
        <div class="spacemobile"></div>
      <h3 class="display-3">Takes just 5 minutes</h3>
      <p class="lead larger" style="padding-left:15%;padding-right:15%">
       No need to spend cycles understanding complicated, feature-heavy classification tools. Spin up a {{ page.type }} classification model in just minutes.
      </p>
      <div class="space45"></div>
      <div class="row gutter-60 d-flex align-items-center justify-content-center">
        <div class="col-md-6 col-lg-4 order-lg-1">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <h4>1. Upload sample data</h4>
            <p>Sign up for free and upload as few as 5-10 samples per label</p>
                  <div class="space20"></div>
            <div class="icon icon-svg d-none d-lg-block">
              <img src="/assets/images/icons/ms-cloud-computing.webp" alt="upload icon" loading="lazy"/>
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4 order-lg-2">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <h4>2. Let it train (5s-30s)</h4>
            <p>Trains almost immediately. You'll see how accurate it was against the training data</p>
             <div class="space20"></div>
            <div class="icon icon-svg d-none d-lg-block">
              <img src="/assets/images/icons/de-gears-3.webp" alt="train icon" loading="lazy" />
            </div>
          </div>
        </div>
        <!--/column -->
        <div class="col-md-6 col-lg-4 order-lg-3">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <h4>3. Ping the API</h4>
            <p>Send a request with unlabeled content, and we'll respond with the right label</p>
                  <div class="space20"></div>
            <div class="icon icon-svg d-none d-lg-block">
              <img src="/assets/images/icons/ms-coding.webp" alt="api icon" loading="lazy" />
            </div>
          </div>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
  </div>
</div>