<div class="wrapper gray-wrapper" style="margin-top:-50px;">
  <div class="container inner text-center">
      <div style="margin-top:-50px;">
     <h3 class="display-3">The whole process takes less than 5 minutes</h3>
     <p class="lead larger" style="padding-left:15%;padding-right:15%">No need to chat with Sales. No extended onboarding process. Spin up your classification model in minutes.</p>
<div class="space30"></div>
    <div class="row gutter-60 d-flex align-items-center">
      <div class="col-md-6 col-lg-3 order-lg-1">
        <h4>1. Upload Images/Text</h4>
        <p>Give model data to train with</p>
      </div>
      <!--/column -->
      <div class="col-lg-6 order-sm-first order-lg-2">
       <h4>2. Let it train</h4>
        <p>Takes 10-30 seconds!</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3 order-lg-3">
        <h4>3. Ping the API </h4>
        <p>Send a request, and we'll respond with the right label</p>
    
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  </div>