<div class="wrapper gray-wrapper" style="margin-top:-50px;">
  <div class="container inner text-center">
      <div style="margin-top:-50px;">
     <h3 class="display-3">For just a few minutes of work, you'll outsource weeks of marketing research</h3>
     <p class="lead larger" style="padding-left:15%;padding-right:15%">The process is simple. Keep working on execution, and Discoverable will pull that data for you. Plus - we offer a 100% refund guarantee!</p>
<div class="space30"></div>
    <div class="row gutter-60 d-flex align-items-center">
      <div class="col-md-6 col-lg-3 order-lg-1">
        <h4>1. Quick form</h4>
        <p>Short form to understand your market category.</p>
      </div>
      <!--/column -->
      <div class="col-lg-6 order-sm-first order-lg-2">
        <figure><img src="/assets/images/important/hero.webp" alt="The Discoverable Process" loading="lazy" class="hero-image"/></figure>
        <div class="space50 d-none d-md-block d-lg-none"></div>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3 order-lg-3">
        <h4>2. Get the report</h4>
        <p>You'll get an email as soon as the report is ready!</p>
    
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  </div>