         <div class="text-box" style="border: 2px dotted #306fa2; border-radius: 15px; padding: 40px; color: #306fa2; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-top:-70px">
                <h2 class="display-3" style="margin: 0 0 20px 0;">
                    AI is amazing, but everyone everywhere is calling themselves AI. <span>It's tough to know who can help with what.</span>
                </h2>
                <p class="display-5" style="color: #0b2436">
                    Nyckel isn't trying to be everything to everyone. Instead, we're hyper-focused on one powerful AI use case: <b><span style="color: #e7a83d;">image and text classification</span></b>. Our vision is to make it as easy as possible to auto-label content at scale.
                </p>
            </div>