<div class="wrapper white-wrapper pt-0 mt-0">
  <div class="container inner"> 
    <div style="margin-top:-50px;margin-bottom:-50px">
    {% if page.stories %}
    <h3 class="display-3 text-center" style="margin-top:-50px">{{ page.stories }} Success Stories</h3>
    {% else %}
      <h3 class="display-3 text-center" style="margin-top:-50px">Classification Success Stories</h3>
      {% endif %}
         <div class="space50"></div>
    
    <div class="row align-items-center">
      <div class="col-lg-4">
        <a href="/blog/pet-media-group-saves-120k-annually-with-ai-content-moderation/">
                 <div style="text-align: center;">
    <div class="d-none d-lg-block"><img src="{{relative_url}}/assets/images/important/pmg.webp" alt="PetMediaGroup Logo" loading="lazy" class="story-img"/> <!-- Scale image to 50% of its original size --></div>
</div>
<div class="space20"></div>
          <div class="box inverse-text" style="background-color: #306fa2;">
        <blockquote>
          <p>"Our AI moderator was <b>live within a day</b> and is now saving us $120k annually - a 20x return on investment."</p>
          <div class="blockquote-details">
            <div class="img-blob blob1"><img src="/assets/images/important/quote-pmg.webp" alt="Pet Media Group Nyckle Quote" loading="lazy" width="100" height="100" /></div>
            <div class="info">
              <p class="mb-0">Eyass Shakrah</p>
              <span class="meta mb-0">Co-Founder, Pet Media</span>
            </div>
          </div>
        </blockquote>

      </div>
    </a>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-4">
        <a href="/blog/gardyn-reduces-workload-by-70-while-growing-2x-after-implementing-computer-vision/">
                 <div style="text-align: center;">
    <div class="d-none d-lg-block"><img src="{{relative_url}}/assets/images/important/logos-gardyn.webp" alt="Gardyn Logo" loading="lazy" class="story-img"/></div>
</div>
<div class="space20"></div>
         <div class="box inverse-text" style="background-color: #306fa2;">

          <blockquote>
            <p>"Nyckel is awesome. After moving to them, <b>within days we reduced our botanists' workloads by 70%</b> - even while growing 2x."</p>
            <div class="blockquote-details">
              <div class="img-blob blob1"><img src="/assets/images/important/quote-gardyn.webp" width="100" height="100" loading="lazy"  alt="Gardyn AI Lead" /></div>
              <div class="info">
                <p class="mb-0">Sunil Rawal</p>
                <span class="meta mb-0">AI Lead, Gardyn</span>
              </div>
            </div>
          </blockquote>

        </div>
        <!-- /.box -->
            </a>
      </div>
     <!--/column -->
<div class="space30 d-none d-md-block d-lg-none"></div>
<div class="col-lg-4">
    <a href="/blog/pulse-for-good-uses-ml-to-turn-cumbersome-system-into-showstopping-product-feature/">

        <!-- Logo Image -->
       <div style="text-align: center;">
     <div class="d-none d-lg-block"><img src="{{relative_url}}/assets/images/important/logos-pulse4.webp" alt="Pulse For Good Logo" loading="lazy" class="story-img"/></div>
</div>

<div class="space20"></div>
        <div class="box inverse-text" style="background-color: #306fa2;">
            <blockquote>
                <p>"<b>Nyckel was so easy</b>. My non-technical colleagues were able to jump in and annotate the data themselves."</p>
                <div class="blockquote-details">
                    <div class="img-blob blob1"><img src="/assets/images/important/quote-pfg.webp" width="100" height="100" alt="PFG Nyckle Quote" loading="lazy" /></div>
                    <div class="info">
                        <p class="mb-0">Blake Kohler</p>
                        <span class="meta mb-0">CEO, Pulse For Good</span>
                    </div>
                </div>
            </blockquote>
        </div>
        <!-- /.box -->
    </a>
</div>
<!--/column -->

    </a>
    </div></div></div></div>