<div class="wrapper white-wrapper pt-0 mt-0">
  <div class="container inner"> 
    <div class="space20"></div>
    <h1 class="display-2 text-center" style="color:#0b2436;margin-top:-8%">Nyckel Customer Stories
</h1>
    <p class="display-5 text-center" style="color:#0b2436">Discover how brands across the world use Nyckel's AI to classify images, text, and data.</p>

     <div class="space10"></div>
<div class="case-studies" style="margin-bottom:-5%">
  <!-- Case Study Box 1 -->
  <a href="/blog/pet-media-group-saves-120k-annually-with-ai-content-moderation/" class="case-study-box">
    <div class="logo">
      <img src="{{relative_url}}/assets/images/important/pmg2.webp" alt="Pet Media Group">
    </div>
    <div class="quote">
      <b>"Our AI moderator was live within a day</b> - and is now saving us $120k/year - a 20x return on investment."
    </div>
    <div class="author">
      <img src="/assets/images/important/quote-pmg.webp" alt="Eyass Shakrah">
     Eyass Shakrah, Co-Founder
    </div>
    <div class="case-study-link">Case Study →</div>
  </a>

  <a href="/blog/gardyn-reduces-workload-by-70-while-growing-2x-after-implementing-computer-vision/" class="case-study-box">
    <div class="logo">
      <img src="{{relative_url}}/assets/images/important/gardyn1.webp" alt="Gardyn">
    </div>
    <div class="quote">
      "<b>Nyckel is fast and awesome</b>. After launching, we reduced the workload on our botanists by 70% even while growing our customers 2x."
    </div>
    <div class="author">
      <img src="/assets/images/important/quote-gardyn.webp" alt="Sunil Rawal">
      Sunil Rawal
    </div>
    <div class="case-study-link">Case Study →</div>
  </a>

    <a href="/blog/content-moderation-of-social-network-taimi-case-study/" class="case-study-box">
    <div class="logo">
      <img src="{{relative_url}}/assets/images/important/taimi1.webp" alt="Taimi">
    </div>
    <div class="quote">
      "<b>Nyckel was a breeze to get going</b>. And after launching, our content moderation time went down 3x and accuracy improved 96%. 
    </div>
    <div class="author">
      <img src="/assets/images/important/quote-vlad.webp" alt="Vladislav Yavorskyi">
     Vladislav Yavorskyi, Moderation Manager
    </div>
    <div class="case-study-link">Case Study →</div>
  </a></div></div></div>