{% assign function = include.function %}

<a href="{{ site.baseurl }}{{ function.url }}">
    <div class="hero">
        <div class="hero-contents d-flex mx-2 mt-4">
            <div class="title-area d-flex flex-column justify-content-between">
                <div>
                     <h1 style="font-size: 0.6em;">{{ function.title }}</h1>
                    <div class="summary">{{ function.description }}</div>
                </div>

                {% assign author = site.data.authors[function.author] %}
                {% if author %}
                <div class="author">
                    <div class="author-area">
                        {% if author.image %}
                        <img src="{{author.image}}" alt="mugshot" class="author-icon" />
                        {% elsif author.github %}
                        <img src="https://avatars.githubusercontent.com/{{author.github}}" alt="mugshot"
                            class="author-icon" />
                        {% endif %}
                        <span class="author-name" style="font-size: 1em">{{ author.display_name }}</span>
                        {% if author.github %}
                        <i class="fa fa-github fa-lg social-icon"></i>
                        {% endif %}
                        {% if author.twitter %}
                        <i class="fa fa-twitter fa-lg social-icon"></i>
                        {% endif %}
                        {% if author.linkedin %}
                        {% if author.is_linkedin_company %}
                        <i class="fa fa-linkedin fa-lg social-icon"></i>
                        {% else %}
                        <i class="fa fa-linkedin fa-lg social-icon"></i>
                        {% endif %}
                        {% endif %}
                    </div>
                       <span class="read-more">Read more →
                    </span>
             
                </div>
                {% endif %}
            </div>
            {% if function.image %}
            <div class="image-area card summary-card">
                <img class="card-img-top summary-img safari_only_unset_height" src="{{ function.image }}"
                    alt="{{ function.image_alt }}" />
            </div>
            {% endif %}
        </div>
    </div>
</a>