{% assign post = include.post %}
{% assign author = site.data.authors[post.author] %}

<div class="col-lg-4 col-md-6 col-sm-12 pt-3 px-2">
    <a class="card summary-card" href="{{ site.baseurl }}{{ post.url }}">
        {% if post.image %}
        <img class="card-img-top summary-img" src="{{ post.image }}" loading="lazy" />
        {% else %}
        <img class="card-img-top summary-img" src="/assets/images/important/nyckel-cover.webp" loading="lazy" />
        {% endif %}
        <div class="card-body">
            <h1 style="font-size: 1.5em;">{{ post.title }}</h1>
            <div class="entry">
                {{ post.description }}
            </div>
        </div>

        <!-- Look the author details up from the site config. -->
        <div class="card-footer summary-footer d-flex flex-row justify-content-between">
            <div class="author d-flex flex-column">
                <div>
                </div>
                <span class="date">
                    Posted {{ post.date | date: "%b %Y"}}
                </span>
            </div>
            <div class="read-more">Read more →</div>
        </div>
    </a>
</div>