
{% assign function = include.function %}
{% if function.hero-card %}
<a href="{{ function.url }}">
    <div class="hero">
        <div class="hero-contents d-flex mx-2 mt-4" style="padding-top:5%;padding-left:5%;">
            <div class="title-area d-flex flex-column justify-content-between">
                <div>
                    <div class="intro">Featured pre-trained function</div>
                     <p class="styled-as-h1" style="padding-top:6%">Use AI to identify<span style="color: #306fa2;"> {{ function.name }}}</p>
                       {% if function.type == "image" %} 
             <h2 class="display-4" style="color:#0b2436">Below is a free {{ function.name }} image identifier. Just upload your {{ function.sname }} image, and our AI will classify {% if function.binary %}if it's {{ function.binary }}{% elsif function.which %}which {{function.which}} it is{% else %}what it is{% endif %} - in just seconds.</h2>
                 {% else %}
                  <h2 class="display-4" style="color:#0b2436">Below is a free {{ function.name }} text identifier. Just input your text, and our AI will classify {% if function.binary %}if it's {{ function.binary }}{% else %}what it is{% endif %} - in just seconds.</h2>
                     {% endif %}
               
                <div class="author">
                       <span class="read-more">Test it out →</span>
                </div></div>
        </div>    
            <div class="image-area card summary-card">
                <img class="card-img-top summary-img safari_only_unset_height" src="{{ function.image }}"
                    alt="{{ function.name }} pretrained dataset image" />
            </div>
        </div>
    </div>
</a>
{% endif %}