<div class="wrapper white-wrapper bg-auto no-overlay text-center">
    <div class="container inner">
        <div class="row">
            <div class="col-md-9 mx-auto" style="margin-top:-50px; margin-bottom:-50px;">
                <h3 class="display-3">Get API access to this {{ page.name }} classifier for free</h3>
                <div class="space20"></div>
                <!-- CTA Button for Typeform -->
                <button data-tf-popup="vWUcxOFh" class="btn" style="background-color:#e7a83d;">Get Free Access</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper gray-wrapper">
  <div class="container inner" style="margin-bottom:-50px;padding-left:10%;padding-right:8%;">
<div class="text-box" style="border: 2px dotted #306fa2; border-radius: 15px; padding: 40px; color: #306fa2; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-top:-50px">
  <h2 class="display-3" style="margin: 0 0 20px 0;">
    AI is amazing, but everyone everywhere is calling themselves AI. <span>It's tough to know who can help with what.</span>
  </h2>
  <p class="display-5" style="color: #0b2436">
    Nyckel isn't trying to be everything to everyone. Instead, we're hyper-focused on one powerful AI use case: <b><span style="color: #e7a83d;">image and text classification</span></b>. Our vision is to make it as easy as possible to auto-label content at scale.
  </p>
</div></div></div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var lazyLoadScriptDiv = document.querySelector('.wrapper.white-wrapper');

    var observer = new IntersectionObserver(function(entries) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                var script = document.createElement('script');
                script.src = "//embed.typeform.com/next/embed.js";
                script.defer = true;
                document.body.appendChild(script);
                observer.unobserve(entry.target);
            }
        });
    }, { threshold: 0.1 }); // Adjust threshold as needed

    observer.observe(lazyLoadScriptDiv);
});
</script>

