<div class="wrapper white-wrapper bg-auto no-overlay text-center">
    <div class="container inner">
        <div class="row">
            <div class="col-md-9 mx-auto" style="margin-top:-50px; margin-bottom:-50px;">
                <p class="display-3">Get API access to this {{ page.name }} classifier for free</p>
                <div class="space20"></div>
                <!-- CTA Button for Typeform -->
                <button data-tf-popup="vWUcxOFh" class="btn" style="background-color:#e7a83d;">Get Free Access</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper gray-wrapper">
  <div class="container inner" style="margin-bottom:-50px;padding-left:10%;padding-right:8%;">
{% include /purpose.html %}
</div></div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var lazyLoadScriptDiv = document.querySelector('.wrapper.white-wrapper');

    var observer = new IntersectionObserver(function(entries) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                var script = document.createElement('script');
                script.src = "//embed.typeform.com/next/embed.js";
                script.defer = true;
                document.body.appendChild(script);
                observer.unobserve(entry.target);
            }
        });
    }, { threshold: 0.1 }); // Adjust threshold as needed

    observer.observe(lazyLoadScriptDiv);
});
</script>

