<div class="wrapper light-wrapper bg-auto no-overlay text-center d-none d-lg-block">
    <div class="container inner">
        <div class="row">
              <div class="spacemobile"></div>
            <div class="col-md-9 mx-auto" style="margin-top:-80px; margin-bottom:-80px;">
                 <h3 class="display-3">Subscribe for more ML content</h3>
                <p class="lead" style="padding-left:15%;padding-right:15%">
                            You'll get periodic newsletters around classification, machine learning, and how anyone can build their own AI/ML models in just minutes.</p>
                <div class="space20"></div>
                <!-- CTA Button for Typeform -->
                <button data-tf-popup="WRFhNxwm" class="btn" style="background-color:#e7a83d;">Sign Up For Free</button>
                  <div class="spacemobile"></div>
            </div>
        </div>
    </div>
    <script src="//embed.typeform.com/next/embed.js" defer></script>
</div>
