<div class="wrapper white-wrapper bg-auto no-overlay text-center">
    <div class="container inner">
        <div class="row">
            <div class="col-md-9 mx-auto" style="margin-top:-50px; margin-bottom:-30px;">
                <h3 class="display-3">Looking for API access to do {{ page.sname }} labeling at scale?</h3>
                <div class="space20"></div>
                <!-- CTA Button for Typeform -->
                <button data-tf-popup="vWUcxOFh" class="btn" style="background-color:#e7a83d;">Contact us</button>
            </div>
        </div>
    </div>
</div>
