<div class="wrapper light-wrapper bg-auto no-overlay text-center">
    <div class="container inner">
        <div class="row">
            <div class="spacemobile"></div>
            <div class="col-md-9 mx-auto" style="margin-top:-60px; margin-bottom:-60px;">
                <p class="display-3">Want to build your own {% if page.type2 %}{{ page.type2 }} {% else %}{% endif %}classifier in just minutes?</p>
                <p class="lead" style="padding-left:15%; padding-right:15%">
                    Get started yourself or reach out to chat
                </p>
                <div class="space20"></div>
                <!-- Replaced CTA Buttons -->
             {% include /cta-buttons.html %}
                <div class="space20"></div>
                <div class="spacemobile"></div>
            </div>
        </div>
    </div>
</div>
