---
layout: default
title: Nyckel | AI for Digital Asset Management
description: Nyckel's API enables AI turbocharging of your DAM platform. Integrate Semantic Search and Custom Auto-Tagging with a few lines of code.
canonical: true
permalink: "/products/ai-for-digital-asset-management/"
fill: fill-light-wrapper
nav: dark
cta: Digital Asset Management classifier
stories: Image Classification
type: image
value1: Auto-image-labeling is a valuable DAM feature -
value2: but more so if your customers can create their own custom labels
value3: Nyckel is an image classification API that lets you build your own custom image labeling feature - in days not months.
header1: AI for
header2: digital asset management
header3: Delight customers by letting them auto-tag their images with custom tags they create.
image1: /assets/images/important/image-classification2.webp
alt1: image classification example
ctacontact: yes
ctatry:

---

{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
        <div class="two-column-one">
            <div class="space125"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification3.webp" alt="image classification"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15">
                    <h3 class="display-3">Delight customers with a way to auto-tag images<span style="color: #8AA9D6;"> using labels they define</span></h3>
                    <div class="space20"></div>
                    <p class="display-5">With Nyckel, you can offer your customers a way to define their own labels for auto-tagging their content.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Search images<span style="color: #8AA9D6;"> with text or images</span></h3>
                <div class="space20"></div>
                <p class="display-5">Search images using images and free-form text queries. No need to rely on previously extracted tags.</p>
            </div>
            <div class="col-lg-6">                          
                <figure>
                    <img class="img" loading="lazy" src="/assets/images/important/imagesearch2.webp" alt="image search example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Integrate via<span style="color: #8AA9D6;"> our API</span></h3>
                <div class="space20"></div>
                <p class="display-5">
                    Ping us with the text or image file, and we'll respond with the right label.
                </p>
                <div class="space10"></div>
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}
