---
layout: default
title: Nyckel | Computer Vision API
description: Nyckel's Computer Vision API lets you train and deploy custom image detection and classification in just minutes.
canonical: true
home:
youtubevideo:
video:
permalink: "/products/computer-vision-api/"
fill: fill-light-wrapper
nav: dark
cta: computer vision model
stories: Computer Vision
type: image
value1: "For 90% of computer vision use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on simplifying computer vision. Our goal is to make it easy to spin up a CV model in just minutes."
header1: "Easily deploy a custom"
header2: "computer vision model"
header3: "Nyckel's computer vision API lets you train and deploy custom image detection and classification in just minutes."
image1: /assets/images/important/nyckel-hero.webp
alt1: computer vision example
ctacontact:
ctatry: yes

---


{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
        <div class="two-column-one">
            <div class="space125"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification2.webp" alt="image classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15">
                    <h3 class="display-3">Image classification<span style="color: #8AA9D6;"> using any rules you want</span></h3>
                    <div class="space20"></div>
                    <p class="display-5">Use image classification to auto-categorize images into whatever labels you need.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Image detection<span style="color: #8AA9D6;"> and object recognition</span></h3>
                        <div class="space20"></div>
                    <p class="display-5">Train and deploy an object detector in a few minutes. Upload images and annotate directly in the browser</p>
            </div>
            <div class="col-lg-6">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/detection.webp" alt="image detection example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/imagesearch2.webp" alt="image search example"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Image search<span style="color: #8AA9D6;"> and image library storage</span></h3>
                <div class="space20"></div>
                <p class="display-5">
                  Search your image library with images or text. No training needed. Simply upload your images and search.
                </p>
                <div class="space10"></div>
            </div>
        </div>

        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Connect it to your workflow<span style="color: #8AA9D6;"> using our image API</span></h3>
                        <div class="space20"></div>
                    <p class="display-5"> Ping us with the image file, and we'll respond with the label and confidence level</p>
            </div>
            <div class="col-lg-6">                          
                <figure>
                   <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>          
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}