---
layout: default
title: Nyckel | Computer Vision API
description: Nyckel's Computer Vision API lets you train and deploy custom image detection and classification in just minutes.
canonical: true
home:
youtubevideo:
video:
permalink: "/products/computer-vision-api/"
fill: fill-light-wrapper
nav: dark
cta: computer vision model
stories: Computer Vision
type: image
value1: "For 90% of computer vision use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on simplifying computer vision. Our goal is to make it easy to spin up a CV model in just minutes."
header1: "Easily deploy a custom"
header2: "computer vision model"
header3: "Nyckel's computer vision API lets you do custom image classification in just minutes."
image1: /assets/images/important/nyckel-hero.webp
alt1: computer vision example
leadform: yes

---


{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
      <div class="space75"></div>
      <h2 class="display-3 text-center">
        <div class="spacemobile"></div>
        Launch your own computer vision model <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">in just minutes</span>
      </h2>
        <div class="two-column-one">
            <div class="space50"></div>
            <div class="row align-items-center">
                <div class="col-lg-6" style="padding-right:5%">
                    <figure> 
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification2.webp" alt="image classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                    <h3 class="display-3"><span style="color: #306fa2;">Classify images</span> using <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">your</span> rules and <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">your</span> data</h3>
                     <p class="display-5" style="margin-top:-3px">Rather than use imperfect static computer vision models, you can train and iterate your own.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Image detection<span style="color: #8AA9D6;"> and object recognition</span></h3>
                    <p class="display-5" style="margin-top:-3px">Train and deploy an object detector in a few minutes. Upload images and annotate directly in the browser</p>
            </div>
            <div class="col-lg-6" style="padding-right:5%">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/detection.webp" alt="image detection example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>

        <div class="row align-items-center">
            <div class="col-lg-6" style="padding-right:5%">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/imagesearch2.webp" alt="image search example"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Image search<span style="color: #8AA9D6;"> and image library storage</span></h3>
                <p class="display-5" style="margin-top:-3px">
                  Search your image library with images or text. No training needed. Simply upload your images and search.
                </p>
                <div class="space10"></div>
            </div>
        </div>

        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Connect it to your workflow<span style="color: #8AA9D6;"> using our computer vision API</span></h3>
                    <p class="display-5" style="margin-top:-3px"> Ping us with the image file, and we'll respond with the label and confidence level</p>
            </div>
            <div class="col-lg-6" style="padding-right:5%">                          
                <figure>
                   <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>          
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}