---
layout: default
title: Nyckel | Content Moderation API
description: Use AI to easily identify spam, NSFW content, and any custom content you want to moderate.
permalink: "/products/content-moderation-api/"
cta: content moderation model
stories: Content Moderation
type: content
value1: "For 90% of moderation use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on one powerful AI use case: content moderation. Our vision is to make it as easy as possible to do custom content moderation at scale."
header1: Content moderation using
header2: your rules
header3: Nyckel's Content Moderation API makes it easy to moderate images and text using custom rules.
image1: /assets/images/important/content-moderation1.webp
alt1: custom content moderation example
leadform: yes

---

{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
      <div class="space75"></div>
      <h2 class="display-3 text-center">
        <div class="spacemobile"></div>
        Use AI to do content moderation <span class="underlined-text">in just minutes</span>
      </h2>
        <div class="two-column-one">
            <div class="space50"></div>
            <div class="row align-items-center">
                <div class="col-lg-6" style="padding-right:5%">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/text-classification2.webp" alt="text classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                   <h3 class="display-3"><span style="color: #306fa2;">Moderate text and images</span> using <span class="underlined-text">your</span> rules and <span class="underlined-text">your</span> data</h3>
                     <p class="display-5" style="margin-top:-5px">Rather than use imperfect static models, you can train and iterate your own moderation tool.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:6%">
               <h3 class="display-3">Moderate both images <span class="underlined-text">and</span> text</h3>
                    <p class="display-5" style="margin-top:-5px">Whether you're identifying explicit phrases or banned image content, Nyckel has you covered.</p>
            </div>
            <div class="col-lg-6" style="padding-right:5%">                          
                <figure>
                     <img class="img shadow" loading="lazy" src="/assets/images/important/content-moderation2.webp" alt="content moderation nyckel example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6" style="padding-right:5%">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Connect it to your workflow<span style="color: #306fa2;"> using our Content Moderation API</span></h3>
                <p class="display-5" style="margin-top:-5px">Ping us with the content, and we'll respond with the label and confidence level.</p>
                <div class="space10"></div>
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}
