---
layout: default
title: Nyckel | An Image Classification API For Auto-Labeling Images
description: Nyckel's Image Classification API lets you train and deploy custom image classification models in just minutes. Simply sign-up, train, and integrate with the API.
canonical: true
home:
youtubevideo:
video:
permalink: "/products/image-classification-api/"
fill: fill-light-wrapper
nav: dark
cta: image classifier
stories: Image Classification
type: image
value1: "For 90% of image classification use cases,"
value2: "AI/ML tools are needlessly complex"
value3: "Sometimes you just need a quick solution to a simple problem. At Nyckel, we're hyper-focused on one powerful AI use case: image classification. Our vision is to make it as easy as possible to auto-label images at scale."
header1: "Easily classify"
header2: "any image you want"
header3: "Nyckel's image classification API makes it simple to automatically label any image using your own rules and data."
image1: /assets/images/important/image-classification2.webp
alt1: image classification example

---


{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
      <div class="space75"></div>
      <h2 class="display-3 text-center">
  <div class="spacemobile"></div>
  Use AI to auto-label images using <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">your</span> rules and <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">your</span> data
</h2>
        <div class="two-column-one">
            <div class="space50"></div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification3.webp" alt="image classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15">
                    <h3 class="display-3">Classify images<span style="color: #306fa2;"> using any rules you want</span></h3>
                    <div class="space20"></div>
                    <p class="display-5">Use image classification to auto-categorize images into whatever labels you need.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Great for<span style="color: #306fa2;"> automating manual tasks and doing accurate labeling at scale</span></h3>
                        <!--<div class="space20"></div>
                    <p class="display-5">Use text classification to auto-categorize text into whatever labels you need.</p>-->
            </div>
            <div class="col-lg-6">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification4.webp" alt="image classification example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15">
                <h3 class="display-3">Connect it to your workflow<span style="color: #306fa2;"> using our image API</span></h3>
                <div class="space20"></div>
                <p class="display-5">
                   Ping us with the image file, and we'll respond with the label and confidence level
                </p>
                <div class="space10"></div>
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}