---
layout: default
title: Nyckel | An Image Classification API For Auto-Labeling Images
description: Nyckel's Image Classification API lets you train and deploy custom image classification models in just minutes. Simply sign-up, train, and integrate with the API.
permalink: "/products/image-classification/"
cta: image classifier
stories: Image Classification
type: image
type2: image
header1: "Easily classify"
header2: "any image you want"
header3: "Nyckel's image classification API makes it simple to auto-label images in just minutes."
image1: /assets/images/important/image-classification2.webp
alt1: image classification example
nolazy: true

---


{% include /hero.html %}
{% include /logos.html %}
{% include /valueadd-main.html %}

<div class="wrapper pt-0 mt-0">
    <div class="container side-padded" style="margin-top:-40px;padding-bottom:5%">
        <div class="space85"></div>
<h2 class="display-3 text-center">
        <div class="spacemobile"></div>
        Use AI to auto-label images <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">in just minutes</span>
      </h2>
        <div class="two-column-one">
            <div class="space50"></div>
            <div class="row align-items-center">
                <div class="col-lg-6" style="padding-right:5%">
                    <figure>
                        <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification3.webp" alt="image classification example"/>
                    </figure>
                </div>
                <div class="space40 d-lg-none"></div>
                <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
      <h3 class="display-3"><span style="color: #306fa2;">Classify images</span> using <span class="underlined-text">your</span> rules and <span class="underlined-text">your</span> data</h3>
                     <p class="display-5" style="margin-top:-3px">Rather than use imperfect static models, you can train and iterate on your own.</p>
                </div>
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:5%">
                <h3 class="display-3">Great for<span style="color: #306fa2;"> automating manual tasks and doing accurate labeling at scale</span></h3>
                    <p class="display-5" style="margin-top:-3px">Whether you want to outsource a tedious project or migrate from a complicated AI/ML tool, Nyckel takes just minutes to launch.</p>
            </div>
            <div class="col-lg-6" style="padding-right:5%">                          
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/image-classification4.webp" alt="image classification example"/>
                </figure>          
            </div>
        </div>
        <div class="space100"></div>
        <div class="row align-items-center">
            <div class="col-lg-6" style="padding-right:5%">
                <figure>
                    <img class="img shadow" loading="lazy" src="/assets/images/important/api.webp" alt="nyckel api"/>
                </figure>
            </div>
            <div class="space40 d-lg-none"></div>
            <div class="col-lg-6 pl-60 pl-sm-15" style="padding-right:3%">
                <h3 class="display-3">Connect it to your workflow<span style="color: #306fa2;"> with our classification API</span></h3>
                <p class="display-5" style="margin-top:-3px">
                   Ping us with the image file, and we'll respond with the label and confidence level.
                </p>
                <div class="space10"></div>
            </div>
        </div>
    </div>
</div>

{% include /process.html %}
{% include /stories.html %}