---
layout: default
---
<div class="wrapper light-wrapper">
  <div class="container inner pt-80">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="blog classic-view">
          <div class="post mb-0">
            <div class="space40"></div>
            <div class="post-content">
              <h1 class="post-title text-center" style="color:#0b2436;">{{page.title}}</h1>
              <div class="post-font">
               {{page.content}}
             </div>
            </div>
            <!-- /.post-content -->
          </div>
          <!-- /.post -->
        </div>
        <!-- /.blog -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
</div>
