---
layout: default
cta: none

---

    <div class="container" style="margin-top:-7%">

{% assign all_posts = site.posts | where_exp: "item", "item.stage != true" %}
<div class="posts contain-1300 p-mobile-1350 mb-3">
    {% assign headliner_posts = all_posts | where: "headliner", true %}
    {% for post in headliner_posts %}
    {% assign post = post %}
    {% include summary-hero.html %}
    {% endfor %}
<div class="space50"></div>
    <div class="row">
        {% assign featured_posts = all_posts | where: "featured", true %}
        {% for post in featured_posts %}
        {% assign post = post %}
        {% include summary-card.html %}
        {% endfor %}

        {% assign remaining_posts = all_posts %}
        {% for post in remaining_posts %}
        {% if post.headliner or post.featured %}
        {% else %}
        {% assign post = post %}
        {% include summary-card.html %}
        {% endif %}
        {% endfor %}
  </div></div></div>