<!DOCTYPE html>
<html lang="en">

<head>
{% include /tags/meta.html %}
{% if page.nolazy %}
{% include /tags/head-nolazy.html %}
{% else %}
{% include /tags/head.html %}
{% endif %}

<!--SCSS -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

</head>

<body {% if page.overflow %} class="overflow-hidden" {% endif %}>

{% include header.html %}

<div class="content-wrapper main-content">
{{ content }}
</div>

{% if page.url contains '/blog/' %}
{% include /cta/cta-blog.html %}
{% elsif page.cta2 %}
{% elsif page.url contains '/pretrained-models/' %}
{% include /cta/cta-functions.html %}
{% else %}
{% include /cta/cta.html %}
{% endif %}

{% include footer.html %}
{% include /tags/body.html %}

<!-- Above-the-fold JS tags -->
<script src="{{relative_url}}/assets/js/jquery.min.js"></script>
<script src="{{relative_url}}/assets/js/bootstrap.min.js"></script>
<script src="{{relative_url}}/assets/js/plugins.js"></script>
<script src="{{relative_url}}/assets/js/scripts.js"></script>
<!-- End Above-the-fold JS tags -->

<!-- Pre Trained Models Invoke JS -->
{% assign url_segments = page.url | split: '/' %}
{% if url_segments contains 'pretrained-models' %}
<script src="{{relative_url}}/assets/js/invoke.js"></script>
{% endif %}
<!-- End Pre Trained Models Invoke JS -->

<!-- Lazyloaded JavaScript Tags -->
<script>
    var jsUrls = [
        "/assets/js/codebox.js",
        "/assets/js/plugins-lazy.js",
        "/assets/js/lite-yt.js",
        "/assets/js/scripts-lazy.js",
        "/assets/js/popper.min.js"
    ];

    var hasLoadedJsFiles = new Array(jsUrls.length).fill(false);

    window.onscroll = function() {
        for (var i = 0; i < jsUrls.length; i++) {
            if (!hasLoadedJsFiles[i]) {
                var script = document.createElement('script');
                script.src = jsUrls[i];
                script.type = 'text/javascript';
                document.body.appendChild(script);

                // Remember that we've loaded this JavaScript file so we don't try to load it again
                hasLoadedJsFiles[i] = true;
            }
        }
    };
</script>
<!-- End Lazyloaded JavaScript Tags -->

<!-- Lazyloaded CSS -->
<script>
    function loadCSS(urls) {
        urls.forEach(function(url) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = url;
            link.onerror = function() {
                console.error('Failed to load CSS:', url);
            };
            document.head.appendChild(link);
        });
    }

    var cssLoaded = false;

    function handleScroll() {
        if (!cssLoaded && window.scrollY > 100) { // Check if scrolled more than 100 pixels
            loadCSS([
                '/assets/css/lazy/style-lazy.css',
                '/assets/css/lazy/layers.css',
                '/assets/css/lazy/plugins-lazy.css',
                '/assets/css/lazy/type-lazy.css',
                '/assets/css/lazy/navigation.css',
                '/assets/css/lazy/settings.css',
                '/assets/css/lazy/bootstrap-lazy.css',
                // Add more URLs as needed
            ]);
            cssLoaded = true;
            window.removeEventListener('scroll', handleScroll); // Remove event listener once CSS is loaded
        }
    }

    window.addEventListener('scroll', handleScroll, { passive: true });
</script>
<!-- End Lazyloaded CSS -->

</body>
</html>