---
layout: default
---


<div class="content-wrapper mt-0">
    <div class="wrapper white-wrapper">
      <div class="container inner" style="padding-left:6%;margin-bottom:-4%">
        <div class="two-column-one" style="margin-top:-6%">
          <div class="row align-items-center">
            <div class="col-lg-5" style="margin-top:-30px">
              <div class="space50"></div>
<h1 class="display-custom">
  <div style="color:#0b2436;font-size:50px">Use AI to identify<span style="color: #306fa2;"> {{ page.name }}</span></div>
</h1>


              <div class="space10"></div>

              {% if page.type == "image" %} 
             <h2 class="display-4" style="color:#0b2436">Below is a free {{ page.name }} identifier. Just upload an image of {{ page.article }} {{ page.sname }}, and our AI will classify what it is - in just seconds.</h2>
                 {% else %}
                  <h2 class="display-4" style="color:#0b2436">Below is a free {{ page.name }} identifier. Just input your text, and our AI will classify what it is - in just seconds.</h2>
                     {% endif %}
            
     
            </div>

<div class="col-lg-7 pl-60 d-none d-lg-block">
    <figure>
        <img class="hero-image img shadow" src="{{ page.image }}" alt="{{ page.name }} identifier" style="width: 90%;"/>
    </figure>
</div>
</div></div></div></div></div>


  <div class="wrapper gray-wrapper" style="height: 130px">
  <div class="container inner text-center">
            <h2 class="display-3" style="margin-top:-7%;padding-left:6%;padding-right:6%">
    Want API access to this pretrained {{ page.name}} model?<span style="color: #e7a83d;"> Contact us below.</span></h2>
  </div></div>

<div class="content-wrapper content-wrapper2">
    <div class="container inner">
        <div class="text-box">
            INSERT THE JAVASCRIPT
        </div>
    </div>
</div>

  <div class="wrapper gray-wrapper">
  <div class="container inner text-center">
          <div style="margin-top:-6%;margin-bottom:-8%">
            <h2 class="display-3">
     How this {{ page.name}} classifier works</h2>
     <div class="space20"></div>

    {% if page.type == "image" %} 
    <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436">To start, drag and drop (or import) a picture of {{ page.article }} {{ page.sname }}. Within seconds, our AI tool will tell you what {{ page.sname }} it is.</p>
    {% else %}
        <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436">To start, input the text that you'd like analyzed. Within seconds, our AI tool will tell you what {{ page.sname }} it is.</p>
    {% endif %}


        <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436">The pretrained model uses the <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.model }} dataset</span> and is built with <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.samplecount }} samples</span> across <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.labelcount }} labels</span>, including {{ page.labelsamples }}. We'll also show a confidence score (the higher the number, the more confident we are around the answer).</p>        
            <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436"><b>Whether you’re a {{ page.role }}, just curious, or building automated {{ page.sname }} detection into your application, we hope our {{ page.sname }} identifier proves helpful.</b></p>
</div></div></div>

<div class="content-wrapper" style="height:650px">
  <div class="wrapper white-wrapper">
    <div class="container side-padded" style="padding-top:3%;padding-bottom:3%">
      <h2 class="display-3 text-center">
        <div class="spacemobile"></div>
      The benefits of an AI-powered {{ page.name}} classification API</span>
      </h2>
            <p class="display-5 text-center" style="text-align:left;padding-left:12%;padding-right:12%;color:#e7a83d"><b>API access is perfect for a DIY {{ page.role }} or businesses looking for a pretrained {{ page.sname}} model.</b></p>
      <div class="space40"></div>
      <div class="row align-items-center">
        <div class="col-lg-6 pl-60 pl-sm-15 d-none d-lg-block" style="padding-right:1%;padding-left:6%">
          <figure>
            <img class="img shadow" loading="lazy" src="{{ page.image }}" alt="{{ page.name}} identifier" >
          </figure>
        </div>
        <div class="col-lg-6" style="padding-left:5%;padding-top:2%;">                          
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Automate manual tasks</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">If you're manually tagging {{ page.name}} yourself, you can automate it in minutes.</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Fast & scalable</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Ping our API in real-time, and we'll respond with the label in milliseconds.</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div>
              <h3 class="mb-5" style="font-size: 28px;">Free to launch</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Our forever free plan has 1k monthly API calls.</address>
            </div>
          </div>                          
        </div>
      </div>
    </div>
  </div>
</div>