---
layout: default-function
---

<div class="wrapper white-wrapper">
    <div class="row">
    </div></div>

    <div class="container">
        <div class="posts contain-1300 p-mobile-1350 mb-3">


<a href="/public-functions/testfunction/">
    <div class="hero">
        <div class="hero-contents d-flex mx-2 mt-4" style="padding-top:5%;padding-left:5%;">
            <div class="title-area d-flex flex-column justify-content-between">
                <div>
                     <p class="styled-as-h1" style="padding-top:6%">Use AI to identify flowers</p>
                    <div class="summary">Just upload a picture of a flower, and our AI will classify what it is - in just seconds.</div>
               
                <div class="author">
                       <span class="read-more">Test it out →</span>
                </div></div>
        </div>    
            <div class="image-area card summary-card">
                <img class="card-img-top summary-img safari_only_unset_height" src="/assets/images/important/functions/flowers-identifier.jpeg"
                    alt="flowers image" />
            </div>
        </div>
    </div>
</a>

    <h1 class="heading" style="text-align:center">All Pre-Trained Functions</h1>
    <div class="row">
{% assign all_functions = site.functions %}
{% for function in all_functions %}
  {% assign function = function %}
  {% include summary-card-function.html %}
{% endfor %}

  </div></div></div>