---
layout: default
---


<div class="content-wrapper mt-0">
    <div class="wrapper white-wrapper" style="margin-top:-3%">
      <div class="container inner" style="padding-left:6%;margin-bottom:-30px;">
        <div class="two-column-one" style="margin-top:-6%">
          <div class="row align-items-center">
            <div class="col-lg-5" style="margin-top:-30px">
              <div class="space50"></div>
<h1 class="display-custom">
  <div class="header-text" style="color:#0b2436;">Use AI to identify<span style="color: #306fa2;"> {{ page.name }}</span></div>
</h1>



              <div class="space10"></div>

 
             <p class="display-4" style="color:#0b2436">Below is a free {{ page.name }} identifier. {% if page.type == "image" %}Just upload your image{% else%}Just input your text{% endif %}, and our AI will classify {% if page.binary %}if it's {{ page.binary }}{% elsif page.which %}which {{page.which}} it is{% else %}what {% if page.image-singular %}{{ page.image-singular }}{% else %}{% endif %} it is{% endif %} - in just seconds.</p>
      
            
     
            </div>

<div class="col-lg-7 pl-60 d-none d-lg-block">
    <figure>
        <img class="hero-image" src="{{ page.image }}" alt="{{ page.name }} identifier"/>
    </figure>
</div>
</div></div></div>
<div style="margin-top:-75px">

{% if page.type == "image" %}
{% include invoke-image.html %}
{% elsif page.type =="text" %}
{% include invoke-text.html %}
{% else %}
<div class="container side-padded">
<h2 class="display-4 text-box text-center" style="color:#0b2436">We are having trouble loading the widget. Please try again later!</h2></div>
<div class="space30"></div>
{% endif %}


    </div>
  </div></div>    

<div class="content-wrapper">
  <div class="wrapper light-wrapper">
    <div class="container side-padded" style="padding-top:4%;padding-bottom:4%">
            <h2 class="display-3 text-center">
              <div class="spacemobile"></div>
     How this {{ page.name}} classifier works</h2>
     <div class="space20"></div>

    <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436">{% if page.type == "image" %}To start, drag and drop (or import) your {{ page.image-singular }} image{% else %}To start, input the text that you'd like analyzed{% endif %}. Our AI tool will then tell you {% if page.binary %}if it's {{ page.binary }}{% elsif page.which %}which {{page.which}} it is{% else %}what {% if page.image-singular %}{{ page.image-singular }}{% else %}{% endif %} it is{% endif %}.</p>

        <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436">This pretrained {{ page.type}} model uses the {% if page.dataurl %}<a href="{{ page.dataurl }}">{% else %}{% endif %}{{ page.model }} dataset{% if page.dataurl %}</a>{% else %}{% endif %} and is built with <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.samplecount }} samples</span> across <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.labelcount }} labels</span>, including <span style="text-decoration: underline; text-decoration-color: #e7a83d; text-decoration-thickness: 2px; text-underline-offset: 3px;">{{ page.labelsamples }}</span>. <br><br>
          We'll also show a confidence score (the higher the number, the more confident we are {% if page.binary %}that it's {{ page.binary }}{% elsif page.which %}which {{page.which}} it is{% else %}what {% if page.image-singular %}{{ page.image-singular }}{% else %}{% endif %} it is{% endif %}).</p>        
            <p class="display-4" style="text-align:left;padding-left:10%;padding-right:10%;color:#0b2436"><b>Whether you’re an uncertain {% if page.role %}{{ page.role }}{% else %}hobbyist{% endif %}, just curious, or building {% if page.which %}{{ page.which}}{% else %}{{ page.name }}{% endif %} detection into your application, we hope our tool proves helpful.</b></p>
</div></div>

<div class="content-wrapper">
  <div class="wrapper white-wrapper">
    <div class="container side-padded" style="padding-top:4%;">
      <h2 class="display-3 text-center">
        <div class="spacemobile"></div>
     Want API access to this {{ page.name }} model?</span>
      </h2>
            <p class="display-4 text-center" style="padding-left:12%;padding-right:12%">Nyckel's {{ page.name}} API is perfect for a tech-minded {% if page.role %}{{ page.role }}{% else %}hobbyist{% endif %} or a business looking to integrate a pretrained {{ page.name}} model.</p>
      <div class="space40"></div>
      <div class="row align-items-center">
        <div class="col-lg-6 pl-60 pl-sm-15 d-none d-lg-block" style="padding-right:1%;padding-left:6%">
          <figure>
            <img class="img shadow" loading="lazy" src="{{ page.image }}" alt="{{ page.name}} identifier" >
          </figure>
        </div>
        <div class="col-lg-6" style="padding-left:5%;padding-top:2%;">                          
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div style="padding-left:5%;padding-right:12%">
              <h3 class="mb-5" style="font-size: 28px;">Automate manual tasks</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">If you're manually tagging {{ page.name}} yourself, you can automate it in minutes.</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div style="padding-left:5%;padding-right:12%">
              <h3 class="mb-5" style="font-size: 28px;">Fast & scalable</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Ping our API in real-time, and we'll respond with the label in milliseconds.</address>
            </div>
          </div>
          <div class="d-flex flex-row icon-mb">
            <div>
              <div class="icon fs-34 mr-25" style="color: #306fa2;">
                <i class="icofont-check"></i>
              </div>
            </div>
            <div style="padding-left:5%;padding-right:12%">
              <h3 class="mb-5" style="font-size: 28px;">Free to launch</h3>
              <div class="space10"></div>
              <address style="font-size: 18px;">Our forever free plan has 1k monthly API calls.</address>
            </div>
          </div>                          
        </div>
      </div>
    </div>
  </div>
</div>