---
layout: default
---


        <div id="main" role="main" class="readingpane" style="margin-top:-6%">
<article class="post">

  
  <div class="hero hero2">
    <div class="hero-contents hero-contents2 d-flex">
      <div class="title-area d-flex flex-column justify-content-between">
        
          <div class="spacemobile-s"></div>
          <h1 style="font-size: 0.6em;">{{ page.title }}</h1>
          <div class="summary">{{ page.description }}</div>
       

        {% assign author = site.data.authors[page.author] %}
        {% if author %}
        <div class="author">
          <div class="author-area">
            {% if author.image %}
            <img src="{{author.image}}" alt="mugshot" class="author-icon" />
            {% endif %}
            <span class="author-name">{{ author.display_name }}</span>
          </div>
          <span class="date">
            Posted {{ page.date | date: "%b %Y"}}
          </span>
        </div>
        {% endif %}
      </div>
      {% if page.image %}
      <div class="image-area d-none d-lg-block">
        <img class="hero-image hero-blog" src="{{ page.image }}" alt="{{ page.image_alt }}" />
      </div>
          {% else %}
      <div class="image-area d-none d-lg-block">
        <img class="hero-image hero-blog" src="/assets/images/important/nyckel-cover.webp" alt="Nyckel classification API" />
      </div>
      {% endif %}
    </div>
  </div>

  <div class="entry">
    {{ content }}

  </div>

</article></div></div></div>