---
layout: default
---


        <div id="main" role="main" class="readingpane" style="margin-top:-7%">
<article class="post">

  
  <div class="hero hero2">
    <div class="hero-contents hero-contents2 contain-1200 p-mobile-1350 d-flex">
      <div class="title-area d-flex flex-column justify-content-between">
        <div>
          <div class="spacemobile-s"></div>
          <h1 style="font-size: 0.6em;">{{ page.title }}</h1>
          <div class="summary">{{ page.description }}</div>
        </div>

        {% assign author = site.data.authors[page.author] %}
        {% if author %}
        <div class="author">
          <div class="author-area">
            {% if author.image %}
            <img src="{{author.image}}" alt="mugshot" class="author-icon" />
            {% elsif author.github %}
            <img src="https://avatars.githubusercontent.com/{{author.github}}" alt="mugshot" class="author-icon" />
            {% endif %}
            <span class="author-name">{{ author.display_name }}</span>
            {% if author.github %}
            <a href="https://github.com/{{ author.github }}" target="_blank">
              <i class="fa fa-github fa-lg social-icon"></i>
            </a>
            {% endif %}
            {% if author.twitter %}
            <a href="https://twitter.com/{{ author.twitter }}" target="_blank">
              <i class="fa fa-twitter fa-lg social-icon"></i>
            </a>
            {% endif %}
            {% if author.linkedin %}
            {% if author.is_linkedin_company %}
            <a href="https://linkedin.com/company/{{ author.linkedin }}" target="_blank">
              <i class="fa fa-linkedin fa-lg social-icon"></i>
            </a>
            {% else %}
            <a href="https://linkedin.com/in/{{ author.linkedin }}" target="_blank">
              <i class="fa fa-linkedin fa-lg social-icon"></i>
            </a>
            {% endif %}
            {% endif %}
          </div>
          <span class="date">
            Posted {{ page.date | date: "%b %Y"}}
          </span>
        </div>
        {% endif %}
      </div>
      {% if page.image %}
      <div class="image-area d-none d-lg-block">
        <img class="hero-image" src="{{ page.image }}" alt="{{ page.image_alt }}" />
      </div>
      {% endif %}
    </div>
  </div>

  <div class="entry">
    {{ content }}

  </div>

</article></div></div></div>