<script>
  window.dataLayer = window.dataLayer || [];

  function loadGTM() {
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-587TTM6');
  }

  function lazyLoadGTM() {
    window.removeEventListener('scroll', lazyLoadGTM);
    loadGTM();
  }

  window.addEventListener('scroll', lazyLoadGTM);
</script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader">
    // Function to load the script
    function loadHubSpotScript() {
        var script = document.createElement('script');
        script.src = "//js.hs-scripts.com/24298198.js";
        document.body.appendChild(script);
    }

    // Add scroll event listener
    window.addEventListener('scroll', function() {
        var loadPosition = 500; // Change this value based on when you want to load the script
        if (window.scrollY > loadPosition) {
            loadHubSpotScript();
            // Remove the event listener after the script is loaded
            window.removeEventListener('scroll', arguments.callee);
        }
    });
</script>
<!-- End of HubSpot Embed Code -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var image = document.querySelector('.hero-image');

        // Define the breakpoint for mobile devices (e.g., 768px for tablets)
        var mobileBreakpoint = 768;

        // Check if the screen width is less than or equal to the breakpoint
        if (window.innerWidth <= mobileBreakpoint) {
            // It's a mobile device, so add the lazy loading attribute
            image.setAttribute('loading', 'lazy');
        }
    });
</script>