<!-- Google Analytics - This script loads the analytics library asynchronously -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-191564533-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());

  const gaMeasurementID = 'UA-191564533-1';
  gtag('config', gaMeasurementID, {
    'linker': {'domains': ['www.nyckel.com', 'login.nyckel.com', 'try.nyckel.com']}
  });

  // Function to trigger a page view for SPA or after navigation
  window.pageChange = (path) => {
    gtag('config', gaMeasurementID, { 'page_path': path });
  };
</script>

<!-- Lazy load Google Tag Manager on first scroll -->
<script>
  function loadGTM() {
    // Load GTM script
    var gtmScript = document.createElement('script');
    gtmScript.async = true;
    gtmScript.src = 'https://www.googletagmanager.com/gtm.js?id=GTM-WXH98NF7';
    document.head.appendChild(gtmScript);

    // Once GTM is loaded, initialize GA tracking
    gtag('event', 'GTM loaded');
  }

  var lazyLoadGTM = function(event) {
    // Ensure this is a legitimate scroll by the user
    if (event.currentTarget.pageYOffset > 0) {
      window.removeEventListener('scroll', lazyLoadGTM);
      loadGTM();
    }
  };

  window.addEventListener('scroll', lazyLoadGTM);
</script>

{% if page.hubspot %}
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/24298198.js"></script>
<!-- End of HubSpot Embed Code -->
{% endif %}
