<!--- Page Set-Up Meta -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- Favicons -->
<!-- For Modern Browsers -->
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<!-- For older browsers -->
<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/favicon.ico">
<!-- For Android & Chrome fallback -->
<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
<!-- For iOS Touch Screens-->
<link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/apple-touch-icon.png">
<!-- For Windows Start Screen -->
<meta name="msapplication-TileImage" type="image/png" sizes="144x144" content="/mstile-144x144.png">
<meta name="msapplication-TileColor" content="#0b2436">

<!-- Metatags -->
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.data.general_settings.description }}{% endif %}"/>
<link rel="canonical" href="https://www.nyckel.com{{ page.url | remove: 'index.html' }}"/>
<link rel="alternate" href="https://www.nyckel.com{{ page.url | remove: 'index.html' }}" hreflang="x-default" />
<meta name="google-site-verification" content="D1Sb_HlWxKALYtw5gfg6yqEdCgS8w4F8sIk1scf_gFo"/>
<link rel="alternate" href="https://www.nyckel.com/blog/feed.xml" type="application/rss+xml" title="Nyckel - RSS"/> 

<!--- OpenGraph -->
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:url" content="https://www.nyckel.com{{ page.url | remove: 'index.html' }}"/>
{% if page.image %}<meta property="og:image" content="https://www.nyckel.com{{ page.image }}"/>{% else %}<meta property="og:image" content="https://www.nyckel.com{{ site.data.general_settings.image }}"/>{% endif %}
{% if page.url contains '/blog/' %}<meta property="og:image:width" content="800"/>
<meta property="og:image:height" content="400"/>{% else %}
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="628"/>
{% endif %}
<meta property="og:site_name" content="Nyckel"/>
{% unless page.url contains '/blog/' %}
<meta property="og:type" content="website"/> 
{% endunless %}

<!--- Robots -->
<meta name="robots" content="max-image-preview:large"/>
{% if page.noindex %}
<meta name="robots" content="noindex"/>
{% endif %}

<!--- Schemas -->
<!--- Organization Schema-->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","name":"Nyckel","legalName":"Nyckel","url":"https://www.nyckel.com/","@id":"nyckel.com/#organization","logo":"https://www.nyckel.com/assets/images/important/Nyckel-Logo-Color-350.png","foundingDate":"2020","founders":[{"@type":"Person","name":"Dan Ott"}],"contactPoint":{"@type":"ContactPoint","contactType":"customer support","email":"feedback@nyckel.com","url":"https://www.nyckel.com/contact/"}}</script>

<!--- LocalBusiness Schema -->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"LocalBusiness","name":"Nyckel","image":"https://www.nyckel.com/assets/images/important/Nyckel-Logo-Color-350.png","url":"https://www.nyckel.com/","@id":"nyckel.com/#organization","telephone":"434-444-2268","openingHoursSpecification":{"@type":"OpeningHoursSpecification","dayOfWeek":["Monday","Tuesday","Wednesday","Thursday","Friday"],"opens":"09:00","closes":"17:30"}}</script>

{% if page.url contains '/blog/' %}
<!--- Blog Meta -->
<meta property="og:type" content="article"/>
<meta property="article:author" content="{{page.author}}"/>
<meta property="article:modified_time" content="{{ page.modified }}"/>
<meta property="article:published_time" content="{{ page.date }}"/>

<!--- BlogPosting Schema --->
<script type="application/ld+json">{"@context":"https://schema.org","@type":"BlogPosting","author":{"@type":"Person","name":"{{ page.author }}"},"dateModified":"{{ page.modified }}","datePublished":"{{ page.date }}","headline":"{{ page.title }}","mainEntityOfPage":{"@id":"https://www.nyckel.com{{ page.url | remove: 'index.html' }}","@type":"itemPage","url":"https://www.nyckel.com{{ page.url | remove: 'index.html' }}"},"description":"{{ page.description }}","url":"https://www.nyckel.com{{ page.url | remove: 'index.html' }}","image":{"@type":"ImageObject","url":"https://www.nyckel.com{{ page.post_image }}","width":"400","height":"800"},"publisher":{"@type":"Organization","name":"Nyckel","url":"https://www.nyckel.com/"}}</script>{% endif %}
{% if page.image %}
<!--- ImageObject --->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"ImageObject","contentUrl":"https://www.nyckel.com{{ page.image }}", "acquireLicensePage":"https://www.nyckel.com/contact/","license":"https://www.nyckel.com/contact/", "copyrightNotice": "Nyckel","caption":"{{ page.description }}","creditText":"Nyckel","creator":{"@type":"Organization","name":"Nyckel"}}</script>{% endif %}
{% if page.faq %}
<!--- FAQ Schema --->
<script type="application/ld+json">
{
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [{
        "@type": "Question",
        "name": "{{ page.faq.question1 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>{{ page.faq.answer1 }}<p>"
        }
      }, {
        "@type": "Question",
        "name": "{{ page.faq.question2 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>{{ page.faq.answer2 }}<p>"
        }
      }, {
        "@type": "Question",
        "name": "{{ page.faq.question3 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>{{ page.faq.answer3 }}<p>"
        }
      },
        {
        "@type": "Question",
        "name": "{{ page.faq.question4 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>{{ page.faq.answer4 }}<p>"
       } },
        {
        "@type": "Question",
        "name": "{{ page.faq.question5 }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "<p>{{ page.faq.answer5 }}<p>"
        }}
        ]
    }
</script>{% endif %}

