
{% if page.url contains /pretrained-models/ %}
<title>Use AI to identify {{ page.name }}</title>
<meta name="description" content="This is a free AI-powered {{ page.sname}} identifier. Just upload your content, and our AI will identify what {{ page.sname}} it is."/>
{% else %}
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.general_settings.title }}{% endif %}</title>
<meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.data.general_settings.description }}{% endif %}"/>
{% endif %}

<!--- OpenGraph -->
{% if page.url contains /pretrained-models/ %}
<meta property="og:title" content="Use AI to identify {{ page.name }}"/>
<meta property="og:description" content="This is a free AI-powered {{ page.sname}} identifier. Just upload your content, and our AI will identify what {{ page.sname}} it is."/>
{% else %}
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
{% endif %}

{% if page.url contains '/pretrained-models/' and page.image %}
<!--- ImageObject --->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"ImageObject","contentUrl":"https://www.nyckel.com{{ page.image }}", "acquireLicensePage":"https://www.nyckel.com/contact/","license":"https://www.nyckel.com/contact/", "copyrightNotice": "Nyckel","caption":"This is a free AI-powered {{ page.sname}} identifier. Just upload your content, and our AI will identify what {{ page.sname}} it is.","creditText":"Nyckel","creator":{"@type":"Organization","name":"Nyckel"}}</script>
{% elsif page.image  %}
<!--- ImageObject --->
<script type="application/ld+json">{"@context":"https://schema.org/","@type":"ImageObject","contentUrl":"https://www.nyckel.com{{ page.image }}", "acquireLicensePage":"https://www.nyckel.com/contact/","license":"https://www.nyckel.com/contact/", "copyrightNotice": "Nyckel","caption":"This is a free AI-powered {{ page.sname}} identifier. Just upload an image, and our AI will identify what {{ page.sname}} it is.","creditText":"Nyckel","creator":{"@type":"Organization","name":"Nyckel"}}</script>
{% else %}
{% endif %}